.mdl-card {
    min-height: 1em;
}

.mdl-list__item-avatar, .mdl-list__item-avatar.material-icons {
    border-radius: 10%;
}

.mdl-card__title + ul.mdl-list {
    padding-top: 0;
    margin-top: 0;
}

.b-p-0 {
    padding-bottom: 0;
}

.small-text {
    font-size: 0.7em;
}

/*Devices*/
.mdl-textfield {
    width: 100%;
}

.controls .mdl-textfield {
    margin: -20px auto;
}

.controls .col-btn {
    text-align: right;
} 

.controls .col-btn button+button {
    margin-left: 10px;
}